
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title class="color">Записи к {{ doctor.type }}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css">

  </head>
  <body>
        <!-- Image and text -->
    <nav class="navbar navbar-dark bg-faded nav-bg color">
      <div class="container">
        <a class="navbar-brand color" href="/">
          <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Медосмотр
        </a>
      </div>
    </nav>

    <h1 class="display 1 text-center mt-5 mb-5">Список записавшихся студентов к {{ doctor.type }}</h1>  
    
    <!-- данные в таблице из БД-->

    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>Группа</th>
            <th>Дата</th>
            <th>Время</th>
          </tr>
        </thead>
        <tbody>
          {% set counter = 0 %}
          {% for row in schedule %}
          {% set counter = counter + 1 %}
            <tr>
              <td>{{counter}}</td>
              <td>{{row.name}}</td>
              <td>{{row.gr}}</td>
              <td>{{row.date}}</td>
              <td>{{row.time}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="container text-right">
      <input type="button" class="btn btn-primary" value="Назад" onClick='/'>
    </div>

    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">УрфУ 2018</span>
      </div>
    </footer>
    
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="js/validating.js"></script>
  </body>
</html>